@using SimStop.Web.Models.Product
@model dynamic

<div>
    <h2>@Model.product.Name</h2>
    <p>Price: @Model.product.Price.ToString("C")</p>
    @if (Model.success)
    {
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Continue Shopping</button>
        <a href="/Cart/Index" class="btn btn-success">Go to Cart</a>
    }
    else
    {
        <p class="text-danger">@Model.message</p>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Continue Shopping</button>
    }
</div>
